.text-truncate {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.img-sidebar {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    object-fit: cover;
}
.img-product {
    width: 100%;
    height: 163px;
    object-fit: cover;
}
.img-cart {
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.img-product-detail {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border: none !important;
}
.img-category {
    width: 100%;
    height: 260.5px;
    object-fit: cover;
}
.img-blog {
    width: 100%;
    height: 197.78px;
    object-fit: cover;
}
.modal-footer .btn {
    margin: 0 !important;
}
.modal-dialog {
    position: relative;
    width: auto;
    max-width: 600px;
    margin: 10px;
}

.modal-sm {
    max-width: 300px;
}

.modal-lg {
    max-width: 900px;
}
.img-100 {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

@media (min-width: 768px) {
    .modal-dialog {
        margin: 30px auto;
    }
}

@media (min-width: 320px) {
    .modal-sm {
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 620px) {
    .modal-dialog {
        margin-right: auto;
        margin-left: auto;
    }
    .modal-lg {
        margin-right: 10px;
        margin-left: 10px;
    }
}

@media (min-width: 920px) {
    .modal-lg {
        margin-right: auto;
        margin-left: auto;
    }
}

.nav > li > a i {
    margin-right: auto;
}

.nav > li > a span {
    margin-left: 6px;
}

.justify-content-center {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
    margin: auto;
    width: 300px;
}