.note-editor.note-frame {
    border: 1px solid #d9d9d9 !important;
}

.jq-toast-single,
.jq-toast-heading {
    font-family: "Nunito", sans-serif !important;
}

.text-truncate {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.img-tree {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

/* angular ui select */
.selectize-control>.selectize-input>input {
    color: #67757c;
    min-height: 38px;
    display: initial;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin: 0;
    font-family: inherit;
}

.ui-select-choices-row {
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
}

.ui-select-search {
    width: 100% !important;
}

.select2-selection__rendered {
    line-height: 38px !important;
}

.select2-container .select2-selection--single {
    height: 38px !important;
}

.select2-selection__arrow {
    height: 38px !important;
}

.help-block {
    color: red;
}

.member-icon {
    font-size: 40px;
}

.member-icon-blue {
    /* color:#26FF2C; */
    color: rgb(38, 198, 218) !important;
    font-size: 40px;
}

.member-icon-green {
    /* color:#26FF2C; */
    color: #4CAF50 !important;
    font-size: 40px;
}

.member-icon-yellow {
    /* color:#26FF2C; */
    color: #ffb22b !important;
    font-size: 40px;
}

.member-icon-red {
    /* color:#26FF2C; */
    color: #fc4b6c !important;
    font-size: 40px;
}

.member-icon-purple {
    /* color:#26FF2C; */
    color: #f48fb1 !important;
    font-size: 40px;
}

.member-icon-muted {
    color: #99abb4 !important;
    font-size: 40px;
}

.m-0 {
    margin: 0 !important;
}

.card-success {
    background: #4CAF50 !important;
    border-color: #4CAF50;
}

.pagination {
    margin-top: 1rem;
    margin-right: 1rem;
}

code {
    white-space: nowrap;
}

.img-receipt {
    border-radius: 8px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.dropify-wrapper,
.dropify-wrapper .dropify-clear {
    font-family: "Nunito";
    border-radius: 4px;
}

.dropify-message p {
    text-align: center;
}

.bg-blue {
    background-color: rgb(38, 198, 218) !important;
}

.bg-green {
    background-color: #4CAF50 !important;
}

.bg-yellow {
    background-color: #ffb22b !important;
}

.bg-red {
    background-color: #fc4b6c !important;
}

.pointer {
    cursor: pointer;
}

/* Nunito */
[type="checkbox"]+label {
    line-height: 25px !important;
}

.card-megna {
    background: #00897b;
    border-color: #00897b;
}

.card-cr {
    background: #dab96b;
    border-color: #dab96b;
}

.mini-sidebar .sidebar-nav #sidebarnav>li:hover>a {
    background: #dab96b;
    color: #ffffff !important;
}

.dropdown-menu .dropdown-item:focus {
    background-color: #dab96b;
    color: white !important;
}